In [14]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/srinivasav22/Graduate-Admission-Prediction/master/Admission_Predict_Ver1.1.csv")

In [15]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [62]:
df['Chance of Admit '].unique()

array([0.92, 0.76, 0.72, 0.8 , 0.65, 0.9 , 0.75, 0.68, 0.5 , 0.45, 0.52,
       0.84, 0.78, 0.62, 0.61, 0.54, 0.66, 0.63, 0.64, 0.7 , 0.94, 0.95,
       0.97, 0.44, 0.46, 0.74, 0.91, 0.88, 0.58, 0.48, 0.49, 0.53, 0.87,
       0.86, 0.89, 0.82, 0.56, 0.36, 0.42, 0.47, 0.55, 0.57, 0.96, 0.93,
       0.38, 0.34, 0.79, 0.71, 0.69, 0.59, 0.85, 0.77, 0.81, 0.83, 0.67,
       0.73, 0.6 , 0.43, 0.51, 0.39, 0.37])

In [57]:
df['Chance of Admit '].value_counts()

0.71    23
0.64    19
0.73    18
0.72    16
0.79    16
        ..
0.38     2
0.36     2
0.43     1
0.39     1
0.37     1
Name: Chance of Admit , Length: 61, dtype: int64

In [16]:
df.shape

(500, 9)

In [23]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Serial No.,500.0,250.50000,144.481833,1.00,125.7500,250.50,375.25,500.00
GRE Score,500.0,316.47200,11.295148,290.00,308.0000,317.00,325.00,340.00
TOEFL Score,500.0,107.19200,6.081868,92.00,103.0000,107.00,112.00,120.00
University Rating,500.0,3.11400,1.143512,1.00,2.0000,3.00,4.00,5.00
SOP,500.0,3.37400,0.991004,1.00,2.5000,3.50,4.00,5.00
LOR,500.0,3.48400,0.925450,1.00,3.0000,3.50,4.00,5.00
CGPA,500.0,8.57644,0.604813,6.80,8.1275,8.56,9.04,9.92
Research,500.0,0.56000,0.496884,0.00,0.0000,1.00,1.00,1.00
Chance of Admit,500.0,0.72174,0.141140,0.34,0.6300,0.72,0.82,0.97

In [20]:
df_copy=df.copy() #Taking backup of the main data

## Segregating dependent and independent feature

In [24]:
df_copy['Chance of Admit']=df_copy['Chance of Admit '].replace(' ','')

In [25]:
df_copy.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit ', 'Chance of Admit'],
      dtype='object')

In [28]:
X=df_copy.drop('Chance of Admit',axis=1)

In [29]:
y=df_copy['Chance of Admit']

In [32]:
X.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [34]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit, Length: 500, dtype: float64

## Split the data into train and test datasets

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [36]:
X_train.shape

(335, 9)

In [37]:
y_train.shape

(335,)

In [38]:
X_test.shape

(165, 9)

In [39]:
y_test.shape

(165,)

## Preprocessing

In [40]:
from sklearn.preprocessing import StandardScaler

In [41]:
scaler = StandardScaler()

In [43]:
X_train_tf=scaler.fit_transform(X_train)

In [44]:
X_train_tf

array([[ 1.55816388, -0.52517473, -0.70698575, ..., -0.83576568,
        -1.14470294, -0.6172406 ],
       [-1.64243247,  0.47703598,  0.27643387, ...,  0.36304548,
        -1.14470294,  0.24283122],
       [-1.77908715, -0.79850493, -1.03479228, ..., -1.1565743 ,
        -1.14470294, -0.33054999],
       ...,
       [ 0.67350466, -1.34516531, -1.36259882, ..., -2.25407747,
        -1.14470294, -1.11894917],
       [ 1.29923923, -0.70739486, -0.37917921, ..., -1.52803691,
        -1.14470294, -1.26229447],
       [-1.09581377, -0.25184454, -0.21527594, ..., -0.56561105,
        -1.14470294, -0.76058591]])

In [45]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit, Length: 500, dtype: float64

## Creating Model

In [46]:
from sklearn.svm import SVR

In [47]:
model=SVR()

In [49]:
# Fitting the data train data into the model
model.fit(X_train_tf,y_train)

SVR()

# Checking the Accuracy of the training data

In [50]:
## Trainng accuracy
model.score(X_train_tf,y_train)

0.8269628394868166

# Evaluation

In [51]:
#Transforming the Test data
X_test_tf=scaler.transform(X_test)

In [52]:
y_pred=model.predict(X_test_tf)

In [63]:
y_pred

array([0.85018264, 0.75758646, 0.52626383, 0.6877717 , 0.74425613,
       0.83894606, 0.49573915, 0.57926087, 0.71368208, 0.75057352,
       0.57906828, 0.70404698, 0.64719731, 0.87028173, 0.7741352 ,
       0.50240429, 0.78797636, 0.58216548, 0.52352971, 0.60662461,
       0.65750265, 0.59064492, 0.67516354, 0.76146008, 0.72052612,
       0.63681369, 0.84273636, 0.82359856, 0.59231286, 0.71763426,
       0.58064298, 0.70218884, 0.54715596, 0.84165145, 0.64550649,
       0.70755499, 0.56489898, 0.86307749, 0.63706649, 0.61319591,
       0.87376407, 0.48514959, 0.66182573, 0.85632026, 0.83772049,
       0.56035716, 0.85256799, 0.79374584, 0.75069648, 0.84058254,
       0.81773736, 0.57866791, 0.67301037, 0.56249432, 0.89100145,
       0.58813161, 0.85444253, 0.64257205, 0.63110068, 0.4730951 ,
       0.64172891, 0.65889174, 0.58526417, 0.6511883 , 0.51248085,
       0.5237015 , 0.82854599, 0.82818051, 0.64187567, 0.68252201,
       0.61453297, 0.76103928, 0.66126034, 0.55511259, 0.56462007,
       0.62728309, 0.78683143, 0.81175537, 0.57396026, 0.61815565,
       0.71963506, 0.80537831, 0.64415091, 0.81114852, 0.71099445,
       0.63344165, 0.61242602, 0.71797082, 0.74380596, 0.62513748,
       0.70791079, 0.83513062, 0.87155967, 0.6453208 , 0.72237964,
       0.51471573, 0.65333118, 0.6920372 , 0.67927831, 0.55414626,
       0.76103682, 0.70217019, 0.56969043, 0.66808728, 0.68067176,
       0.58249062, 0.6714783 , 0.76102263, 0.66698606, 0.65177314,
       0.64367622, 0.87191387, 0.82010223, 0.84863479, 0.51120499,
       0.77393538, 0.65180823, 0.85859399, 0.53019607, 0.59455605,
       0.68376666, 0.86544498, 0.71672884, 0.70236429, 0.69435392,
       0.64296066, 0.57667023, 0.87223329, 0.78695275, 0.46466634,
       0.68593971, 0.67863239, 0.78251766, 0.51642566, 0.76273503,
       0.46013748, 0.81345025, 0.82071941, 0.63041578, 0.65813522,
       0.66628421, 0.5932146 , 0.77672498, 0.46024721, 0.90169111,
       0.66259584, 0.85125537, 0.74652517, 0.64544934, 0.6773344 ,
       0.78858437, 0.55697991, 0.7890943 , 0.63679144, 0.62535368,
       0.63295629, 0.71247857, 0.77226271, 0.529825  , 0.48754879,
       0.6158488 , 0.72163126, 0.66592543, 0.53593161, 0.6360695 ])

In [64]:
y_test

361    0.93
73     0.84
374    0.39
155    0.77
104    0.74
       ...
110    0.61
318    0.79
428    0.69
29     0.54
437    0.61
Name: Chance of Admit, Length: 165, dtype: float64

In [53]:
# importing library to check accuracy score
from sklearn.metrics import accuracy_score

In [65]:
accuracy_score(y_test,y_pred)

ValueError: continuous is not supported